<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section class="container bg-white mt-5 w-100">
	<h1 class="text-center">Bidha Auction</h1>
	<div class="text-center">
		<p>
			BidhaAuction is a website dedicated to being your destination for buying auctioned cars in Jordan.
			With this website car auctions will be brought to your home and are expected to be easier to manage and engage with, 
			while having it still be secure and moderated well.
		</p>
	</div>
	<div>
		<img src="../imgs/landing-page.jpg" alt="" class="w-100" />
	</div>
</section>

<%- include("../includes/end.ejs") %>
